{% extends "layout.html" %}

{% block content %}
<div class="cont">
<p>
    <h2> Admin Account</h2>
</p>
<hr>
<div style="margin-left: 50px;">
    <p>
        Add new product
    </p>
<form action="/additem" method="POST">
    <p>
        <input name="category" list="category" placeholder="choose the category"> 
            <datalist id="category">
                <option value=5e19e8abb1bcf70685c0f2c1>Women</option>
                <option value=5e242774be0c9f05ee6e6a91>Men</option>
                <option value=5e2427d097202505eefb9829>Children</option>
            </datalist>
    </p>
    <p>
        <input name="subcategory" list="subcategory" placeholder="choose the subcategory">
        <datalist id="subcategory">
            <option value=T-Shirts>
            <option value=Dress>
            <option value=Pants>
            <option value=Hoodies>
            <option value=Jakets>
        </datalist>
    </p>
    <p>
        New Season
        <input type="radio" name="newSeason" value="true">true
        <input type="radio" name="newSeason" value="false">false
    </p>
    <p>
        <input type="text" name="title" placeholder="title">
    </p>
    <p>
        <input type="text" name="image1" placeholder="image link">
    </p>
    <p>
        <input type="text" name="image2" placeholder="image link">
    </p>
    <p>
        <input type="text" name="image3" placeholder="image link">
    </p>
    <p>
        <input type="number" name="price" placeholder="price">USD
    </p>
    <p>
        <input type="number" name="rating" placeholder="rating">
    </p>
    <p>
        <input type="number" name="discount" placeholder="Discount percentage" step="0.01">
    </p>
    <p>
        Discount
        <input type="radio" name="sale" value="true">true
        <input type="radio" name="sale" value="false">false
    </p>
    <p>
        <input name="color" list="color" placeholder="Choose the color">
        <datalist id="color">
            <option value=Red>
            <option value=Blue>
            <option value=Green>
            <option value=Black>
            <option value=White>
            <option value=Pink>
            <option value=Yellow>
            <option value=Brown>
            <option value=Grey>
        </datalist>
    </p>
    <p>
        <p>Other Colors</p>
        <input type="text" name="colors" placeholder="color" />
        <input type="text" name="colors" placeholder="color" />
        <input type="text" name="colors" placeholder="color" />
    </p>
    <p>
        <input type="number" name="inStock" placeholder="XS" />
        <input type="number" name="inStock" placeholder="S" />
        <input type="number" name="inStock" placeholder="M" />
        <input type="number" name="inStock" placeholder="L" />
        <input type="number" name="inStock" placeholder="XL" />
    </p>
    <button type="submit">Submit</button>
</form>
</div>
<a href="/admin">Go Back</a>
</div>
{% endblock %}

