{% extends "layout.html" %}

{% block content %}

<div class="cont">

<div class="container">
        <!-- <button onclick="sortby()" class="btn btn-secondary">Sort by Price</button> -->
        <!-- <form id="sortby" action="">
            <select class="sortby btn btn-secondary" name="sortby">
                <option selected>Sort by Price</option>
                <option value="downsort">Descending Order</option>
                <option value="upsort">Ascending Order</option>
            </select>
        </form> -->


        <div class="btn-group">
            <a class="btn btn-primary text-light" role="button" data-toggle="dropdown">
                Sort by Price
            </a>
        
            <div class="dropdown-menu" >
                <button id="desc" class="dropdown-item">Descending Order</button>
                <button id="asce" class="dropdown-item">Ascending Order</button>
            </div>
        </div>
    <div class="row">
        
        {% for item in items %}
        <div class="item col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="/collection/{{item._id}}">
                        <img class="pic-1" src={{item.image1}}>
                        <img class="pic-2" src={{item.image2}}>
                    </a>
                    <ul class="social">
                        <li><a href="/collection/{{item._id}}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    {% if item.sale %}
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">{{item.discount * 100}}%</span>
                    {% endif %}
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">{{item.title}}</a></h3>
                    
                    <ul class="rating">
                        {% for i in range(0, item.rating) %}
                        <li class="fa fa-star"></li>
                        {% endfor %}
                    </ul>
                    {% if item.sale %}
                    <div class="price">${{item.price}}
                        <span>${{item.price // (1 - item.discount)}}</span>
                    </div>
                    {% else %}
                    <div class="price">${{item.price}}</div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endfor %}


    </div>
</div>

</div>
{% endblock %}