{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="sort">
        <button class="btn btn-secondary">CATEGORY</button>
        <button class="btn btn-secondary">PRICE</button>
        <button class="btn btn-secondary">SIZE</button>
        <button class="btn btn-secondary">NEWEST</button>
    </div>
    <div class="row">
        
        {% for item in items %}
        <div class="item col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src={{item.image1}}>
                        <img class="pic-2" src={{item.image2}}>
                    </a>
                    <ul class="social">
                        <li><a href="/collection/{{item._id}}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    {% if item.sale %}
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">{{item.discount * 100}}%</span>
                    {% endif %}
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">{{item.title}}</a></h3>
                    
                    <ul class="rating">
                        {% for i in range(0, item.rating) %}
                        <li class="fa fa-star"></li>
                        {% endfor %}
                    </ul>
                    {% if item.sale %}
                    <div class="price">${{item.price * (1 - item.discount)}}
                        <span>${{item.price}}</span>
                    </div>
                    {% else %}
                    <div class="price">${{item.price}}</div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endfor %}


    </div>
</div>
{% endblock %}