{% extends "layout.html" %}

{% block content %}
	<div class="cont">

	
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">ID</th>
				<th scope="col">Cateogory</th>
				<th scope="col">New Season</th>
				<th scope="col">Title</th>
				<th scope="col">Price</th>
				<th scope="col">Discount</th>
				<th scope="col">Color</th>
				<th scope="col">XS</th>
				<th scope="col">S</th>
				<th scope="col">M</th>
				<th scope="col">L</th>
				<th scope="col">XL</th>
				<th scope="col">All Stock</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
			<tr>
				<th scope="row">{{loop.index}}</th>
				<td>{{item._id}}</td>
				<td>{{item.category}}</td>
				<td>{{item.newSeason}}</td>
				<td>{{item.title}}</td>
				<td>{{item.price}}</td>
				<td>{{item.discount}}</td>
				<td>{{item.color}}</td>
				<td>{{item.inStock.XS}}</td>
				<td>{{item.inStock.S}}</td>
				<td>{{item.inStock.M}}</td>
				<td>{{item.inStock.L}}</td>
				<td>{{item.inStock.XL}}</td>
				<td>{{item.inStock.XS + item.inStock.S +
					item.inStock.M + item.inStock.L +
				item.inStock.XL}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="/admin">Go Back</a>
</div>

{% endblock %}
