<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>

<body>
    <h3>Log in here</h3> 
    <form action="/login" method="POST" >
        <p>
            <input type="text" name="email" placeholder="email">
        </p>

        <p>
            <input type="password" name="password" placeholder="password">
        </p>
        <button type="submit">Submit</button>

    </form>


    <a href="/login/facebook" target="_blank">Login with facebook</a>
</body>

</html>