*{
    font-family: 'Nunito', sans-serif;
}

.maincontainer {
    padding-top: 100px;
}

.cont {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 90px
}

.navbar {
    position: fixed;
    background-color: white;
    z-index: 10;
    overflow: visible;
    border-bottom: solid lightgrey 1px;
}


.nav-link.sale {
    background-color: #ef5777;
}

.logo {
    margin: 5px 70px 5px 25px;
    height: 50px;
}


.nav-item {
    margin-right: 15px;
}

.nav-link {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    
    font-size: 16px;
    color: black;
    border: none;
    /* border: solid black 1px; */
    border-radius: 5px;
    height: 100%;
    width: 130px;
    background-color: transparent;
}


.nav-link.sale:hover {
    background-color: #ef5777;
}

.nav-link:hover {
    background-color: lightblue;
}

.female {
    width: 100%;
    position: relative;
}


.txt {
    display: block;
    position: absolute;
    top: 45%;
    left: 10%;
    font-size: 28px;
    border: solid grey 1px;
    width: 400px;
    height: 200px;
    color: grey;
    font-weight: 900;
}

.txt:hover {
    color: black;
    border: solid black 1px;
}


.txt h1 {
	position: absolute;
	bottom: 0;
}


h3 {
    font-size: 15px;
}

h5 {
    font-size: 13px;
}

.form-group {
    width: 220px;
    height: 220px;
    float: none;
    margin: auto;
    margin-top: 0px;
    text-align: center;
}

.btn.btn-secondary {
    border: none;
    width: 175px;
    margin-bottom: 15px;
    background-color: lightblue;
    color: black;
}

.btn.btn-primary {
    border: none;
    width: 175px;
    margin-bottom: 15px;
}

.modal-body {
    height: 350px;
}

.modal {
    margin-top: 80px;
}


.sort {
    text-align: left;
}

#search:focus {
    width: 30px;
}


.previewIcon {
    width: 100px;
}

.subtotal {
    float: right;
}
